/* NAVBAR KODLARI */
:root {

    --primary: #c4151c;
    --text: #fff;
    --linkWidth: 10rem;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    background-size: cover;
    background-position: center;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* NAVBAR VE SAYFA İÇERİĞİ BİR DÜZEN HALİNDE TUTMAK İÇİN */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ADMİN PAGE NAVBAR KODLARI */
.header2 {
    position: fixed; /* Değişiklik burada */
    top: 0; /* Sayfanın en üstünde sabitlenmesi için */
    left: 0; /* Sayfanın solunda sabitlenmesi için */
    width: 100%; /* Sayfanın genişliği kadar olması için */
    z-index: 1000; /* Diğer içeriklerin üzerinde kalması için */
    background: rgba(0, 0, 0, 0.9);
    height: 6rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    
}

.navbar2 {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.navbar__menu2 {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__item2 {
    position: relative;
}

.navbar__link2 {
    
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: var(--linkHeight);
    width: var(--linkWidth);
    color: var(--text);
    transition: color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__link2 span {
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.navbar__link2 svg {
    transition: var(--transition);
}

.navbar__link2:hover svg {
    stroke: var(--primary);
}

.navbar__link2:hover span {
    color: var(--primary);
}


/* DELETE/UPDATE VS BUTONLARIN KODLARI */
.button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.buttonDelete {
    background-color: #c4151c;
    border-radius: 100px;
    box-shadow: rgba(196, 21, 28, .35) 0 -25px 18px -14px inset, rgba(196, 21, 28, .25) 0 1px 2px, rgba(196, 21, 28, .25) 0 2px 4px, rgba(196, 21, 28, .25) 0 4px 8px, rgba(196, 21, 28, .25) 0 8px 16px, rgba(196, 21, 28, .25) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonDelete:hover {
    box-shadow: rgba(196, 21, 28, .35) 0 -25px 18px -14px inset, rgba(196, 21, 28, .25) 0 1px 2px, rgba(196, 21, 28, .25) 0 2px 4px, rgba(196, 21, 28, .25) 0 4px 8px, rgba(196, 21, 28, .25) 0 8px 16px, rgba(196, 21, 28, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}